.short-url {
    background: url('/images/bg-shorten-desktop.svg') no-repeat ;
    background-color: hsl(257, 27%, 26%);
    background-size: cover;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: -70px;
    justify-content: center;
    padding-bottom: 40px;
}


@media only screen and (max-width: 865px) {
      .short-url {
        flex-direction: column;
        padding-bottom: 10px;
        height: auto;
      }

      .input-box, .btn-box {
        width: 100%;
        margin-bottom: 20px;
      }
}


.error {
    border: 3px solid hsl(0, 87%, 67%);
}

.error-text {
    color: hsl(0, 87%, 67%);
}